.modal {
    position: fixed;
    top: 10vh;
    left: 30%;
    width: 40%;
    z-index: 100;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    padding: 15px;
    padding-top: 10px;
}
.header{
    margin-top: 0px;
    margin-bottom: 10px;
}
.text{
    display: inline;
    text-align: left;
}
.price{
    text-align: right;
    margin-top:-25px;
}
.button-div{
    display:flex;
    float:right;
}
.closeButton{
    font-weight: bold;
    background-color: white;
    border: 1px solid #b94517;
    color:#b94517;
    border-radius: 20px;
    width:5rem;
    font-size: 15px;
    height:40px;
    margin-right: 10px;
}
.closeButton:hover{
    color:white;
    background-color: #b94517;
}
.orderButton{
    font-weight: bold;
    background-color: #b94517;
    border: 1px solid #b94517;
    border-radius: 20px;
    width:5rem;
    font-size: 15px;
    color: white;
    height:40px;
}
.li{
    list-style-type: none;
    margin:0;
    padding:0;
}
.itemName{
    display:inline-block;
    margin-bottom:0;
}
.price-p{
    display:inline-block;
    color:#b94517;
    padding-right:50px;
    margin-bottom: 0;
}
.quantityLabel{
    display: inline-block;
    text-align: center;
    width:30px;
    height:30px;
    border:1px solid #aaa;
    margin-bottom: 15px;
}
.buttonDiv{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}
.buttons{
    color:#b94517;
    text-align: center;
    width:40px;
    height:30px;
    border:1px solid #b94517;
    border-radius: 5px;
    margin-top: -65px;
    font-size: 25px;
    padding:0px;
}
.buttons:hover{
    color:white;
    background-color: #b94517;
}